@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
.menu {
  border-top: 4px solid $color-base-light;
  @include margin-top(1);
  @include margin-bottom(.5);
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    @include margin-top(.5);
    @include margin-bottom(0);
    &-item {
      padding: 0;
      margin: 8px 8px 0 0;
      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: 400;
        border: 0;
        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }
        &--active {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }
      }
    }
  }
}