  @import "../../assets/scss/variables";
  @import "../../assets/scss/mixins";
  .post {
    background: $bg;
    margin-left: 8px;
    margin-right: 16px;
    padding: 8px 16px;
    border: 1px solid $blue;
    box-shadow: 2px 2px 0px $color-primary;
    transition: box-shadow 0.23s cubic-bezier(.33, .66, .66, 1);
    &:hover {
      box-shadow: 4px 4px 0px $color-secondary;
      border: 1px solid $color-secondary;
    }
    @include margin-bottom(2);
    &:last-child {
      @include margin-bottom(.5);
    }
    &__cover {
      background: rgba($color: #fff, $alpha: .25);
      @include margin-bottom(.75);
      @include margin-top(.5);
    }
    &__title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);
      color: $color-secondary;
      &-link {
        color: $color-secondary;
        @include link;
      }
    }
    &__description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
    }
    &__meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 500;
        text-transform: uppercase;
      }
      &-divider {
        margin: 0 5px;
      }
      &-category {
        &-link {
          display: block;
          font-size: $typographic-small-font-size;
          color: $color-primary;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: .6pt;
          &:hover,
          &:focus {
            color: $color-secondary;
          }
        }
      }
    }
    &__readmore {
      font-size: $typographic-base-font-size;
      color: $color-primary;
      &:hover,
      &:focus {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }
    }
  }

  @include breakpoint-sm {
    .post {
      margin-left: 24px;
    }
  }
    
  @include breakpoint-md {
    .post {
      margin-left: 24px;
    }
}